apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: ttfa-ns
  labels:
    app: flask-app
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels: 
        app: flask-app
    spec:
      containers:
        - name: flask-app-container
          image: akshat8630/broadcast-text
          env:
            - name: MYSQL_HOST
              value: ttfa-mysql-service
            - name: MYSQL_USER
              value: admin
            - name: MYSQL_PASSWORD
              value: admin
            - name: MYSQL_DB
              value: devops
          ports:
            - containerPort: 5000